@font-face {
  font-family: 'icons';
  src:  url('../../fonts/icons/icons.eot?cgps14');
  src:  url('../../fonts/icons/icons.eot?cgps14#iefix') format('embedded-opentype'),
    url('../../fonts/icons/icons.ttf?cgps14') format('truetype'),
    url('../../fonts/icons/icons.woff?cgps14') format('woff'),
    url('../../fonts/icons/icons.svg?cgps14#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:local("Open Sans"),
		url('../../fonts/open_sans/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/open_sans/OpenSans.woff') format('woff'),
		url('../../fonts/open_sans/OpenSans.ttf')  format('truetype'),
		url('../../fonts/open_sans/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

.top-headers .artist-wrapper {
  padding-left: 130px;
  width: 80px;
}

.results-wrapper.top-headers.results-item {
  padding: 5px;
  background-color: transparent;
}

.extra-info-wrapper {
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in;
}

.opened .extra-info-wrapper {
  height: 150px;
}

.general-info-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.general-info-wrapper > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.results-item {
  position: relative;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.results-item:nth-child(odd) {
  background-color: #cae1f1;
}

.artist-wrapper,
.artist {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}

.cover {
  margin: 0 10px 0 0;
}

.genre,
.collection {
  flex: 1 100px;
  text-align: left;
}

.genre {
  padding-right: 50px;
}

.expand {
  position: relative;
}

.toggler {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  right: 30px;
  cursor: pointer;
}

.toggler:before {
  content: '';
  display: block;
  width: 7px;
  background: #000;
  height: 100%;
  position: absolute;
  left: 14px;
  border-radius: 2px;
  transition: all 0.3s ease-out;
}

.toggler:after {
  content: '';
  display: block;
  height: 7px;
  background: #000;
  width: 100%;
  position: absolute;
  top: 14px;
  border-radius: 2px;
}

.opened .toggler:before {
  opacity: 0;
}

.extra-info-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.extra-info-wrapper > div {
  flex: 1 100px;
  text-align: left;
}

.extra-info-wrapper .full-track-preview {
  flex: 1 100%;
  padding-left: 110px;
  font-size: 25px;
  color: #8e8f8e;
}

.full-track-preview span {
  cursor: pointer;
}

.extra-info-wrapper .full-track-preview span:after {
  content: '\e911';
  font-family: 'icons';
  font-size: 22px;
  margin-left: 20px;
}

.full-track-preview audio {
  display: block;
}

.collection-wrapper {
  padding-left: 110px;
}

.track-wrapper {
  padding-right: 110px;
}

.bold {
  font-weight: bold;
}
