.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.results-wrapper {
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #edf8ff;
}

.search-form {
  padding: 30px 0;
}

.search-form input,
.search-form button {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin: 0 5px;
}
